.text-style {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    text-align: center;
}

.game-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 84px;
    line-height: 86px;
    text-align: center;
    color: #000000;
    margin-top: 24px;
}

.login-btn {
    background-color: #2F80ED;
    position: fixed;
    left: 0;
    bottom: 96px;
}

.register-btn {
    background-color: #F2C94C;
    margin-top: 24px;
    position: fixed;
    left: 0;
    bottom: 24px;
}